.advertiseBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}

.advertiseBlock-content {
    margin-right: 100px;
    font-family: Montserrat, sans-serif;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (max-width: 1300px){
        margin: 0 20px;
    }
}

.advertiseBlock-headline {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
}

.advertiseBlock-description {
    font-size: 24px;
    line-height: 36px;
}

.advertiseBlock-button {
    width: 162px;
    height: 52px;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
}

