.buttonWithIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat, sans-serif;
}

.buttonWithIcon img {
    width: 16px;
    height: 16px;
}

.buttonWithIcon-button {
    cursor: pointer;
    color: blue;
    font-size: 14px;
    text-decoration: underline dashed blue;
    border-width: 0;
    border-radius: 5px;
    background: none;
}