.seoSection {
    margin: 70px 0;
    position: relative;
    height: 550px;
    @media screen and (max-width: 1320px) {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
}

.seoSection .seoSection-image {
    position: absolute;
    top: 0;
    left: 25px;
    width: 40%;
    z-index: 10;
    @media screen and (max-width: 1320px) {
        position: relative;
        width: 40%;
        height: 70%;
    }
}

.seoSection .seo-content {
    margin-left: auto;
    width: 70%;
    font-family: Montserrat, sans-serif;
    @media screen and (max-width: 1320px) {
        margin: 0;
    }
    @media screen and (max-width: 767px) {
        width: 100%;
    }
}

.seoSection .seo-content .seo-headline {
    text-align: center;
    margin-top: 24px;
    margin-bottom: 38px;
    color: black;
    font-size: 30px;
    line-height: 36px;
}

.seoSection .seo-content .seo-textContainer {
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding: 50px 100px;
    background-color: #3BB9B8;
    color: white;

    @media screen and (max-width: 767px) {
        padding: 25px;
    }
}

.seoSection .seo-content .seo-textContainer .seo-text {
    max-width: 600px;
    font-size: 16px;
    line-height: 30px;
    @media screen and (max-width: 1320px) {
        font-size: 14px;
        line-height: 18px;
    }
    @media screen and (max-width: 767px) {
        font-size: 20px;
        line-height: 24px;
    }
}