.articleItem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    height: 300px;
    cursor: pointer;
    @media screen and (max-width: 360px){
        width: 240px;
        height: 240px;
    }
}