.footer {
    padding: 40px 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.footer-container {
    display: flex;
    gap: 20px;
    width: 80%;
    max-width: 1280px;
    max-height: 360px;
    justify-content: space-between;
    align-items: flex-start;
    color: #2B7BC6;
    @media screen and (max-width: 1280px){
        gap: 10px;
        width: 95%;
    }
    @media screen and (max-width: 1024px){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;
        max-height: none;
    }
    @media screen and (max-width: 600px){
        margin: 40px 0;
        display: flex;
        flex-direction: column;
    }
}

.footer .navbar {
    display: flex;
    flex-direction: column;
}