.burger-menu {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.burger-icon {
    z-index: 150;
    position: relative;
    width: 100%;
    height: 100%;
}

.burger-icon span {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.burger-icon span:nth-child(1) {
    top: 10px;
}

.burger-icon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.burger-icon span:nth-child(3) {
    bottom: 10px;
}

.burger-menu.active .burger-icon span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

.burger-menu.active .burger-icon span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-icon span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
}

.menu {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;
}

.burger-menu.active .menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.burger-menu .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    font-family: Montserrat, sans-serif;
    background-color: white;
    z-index: 100;
    @media screen and (max-width: 360px) {
        font-size: 20px;
    }
}

.burger-menu .navbar a {
    cursor: pointer;
    text-decoration: none;
}