.productsBlock {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    @media screen and (max-width: 1220px) {
        justify-content: center;
        gap: 20px;
    }
}

.itemProduct {
    position: relative;
    max-width: 280px;
    max-height: 500px;
    font-family: Montserrat, sans-serif;
}


.productImage {
    max-width: 280px;
    max-height: 280px;
}

.productImage-tags {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 12px;
    line-height: 18px;
}

.discountTag {
    padding: 3px 10px;
}

.discountTag:nth-child(1) {
    background-color: #FFD600;
}
.discountTag:nth-child(2) {
    background-color: red;
    color: white;
}

.itemProduct-content {
    height: 220px;
    padding: 10px 20px;
}

.reviewsBlock {
    display: flex;
    align-items: center;
    gap: 8px;
}

.reviewsBlock img {
    width: 13px;
    height: 13px;
}

.itemProduct-title {
    margin-top: 16px;
    font-size: 14px;
    line-height: 20px;
}

.itemProduct-countryOrigin {
    margin-top: 35px;
    font-size: 14px;
    line-height: 24px;
}

.buyProduct {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.buyProduct .buyItem {}

.buyProduct .buyItem-price {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.buyProduct .buyItem-oldPrice {
    color: red;
    text-decoration: line-through;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

.buyProduct-button {
    color: #2B7BC6;
    border: 1px solid #2B7BC6;
    border-radius: 4px;
    padding: 6px 12px;
    font-weight: bold;
}