
.collectionTilePage {
    @media screen and (max-width: 980px) {
        text-align: center;
    }
}

.collectionTile-examples {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr 1fr;
    grid-template-areas: "exampleTile1 exampleTile1 exampleTile1 exampleTile2 exampleTile2 exampleTile3"
                         "exampleTile1 exampleTile1 exampleTile1 exampleTile4 exampleTile5 exampleTile5";
    gap: 20px;
    @media screen and (max-width: 980px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}